<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="apiSecurityInterceptor" class="org.springframework.ws.soap.security.wss4j2.Wss4jSecurityInterceptor">
        <property name="validateRequest" value="false"/>
        <property name="validationActions">
            <util:constant static-field="org.apache.wss4j.dom.handler.WSHandlerConstants.NO_SECURITY"/>
        </property>
    </bean>

    <alias name="delegatingTransactionService" alias="transactionService" />
    <bean id="delegatingTransactionService" class="uk.co.bty.mock.cybersource.service.transaction.impl.DelegatingTransactionService">
        <constructor-arg ref="transactionServices" />
    </bean>

    <util:list id="transactionServices" value-type="uk.co.bty.mock.cybersource.service.transaction.TransactionService" list-class="java.util.LinkedList"/>


    <import resource="drools.xml"/>
    <import resource="sop.xml"/>
    <import resource="payer-auth-enroll.xml"/>
    <import resource="payer-auth-validation.xml"/>

</beans>